# Logs
logs
app*.log
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# nyc test coverage
.nyc_output

# Coverage directory used by tools like istanbul
coverage/*
test-results.xml

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# IDE
.idea
.vscode

# Transpiled JavaScript files from Typescript
dist

# Cache used by TypeScript's incremental build
*.tsbuildinfo

# Sonar
.scannerwork